html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    /* vertical-align: center; */
}

* {
    box-sizing: border-box;
}

nav {
    height: 69px;
    border-bottom: seashell solid 1px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: black;
    margin: 0;
}

#logo {
    height: 50px;
    margin-left: 10px;
    opacity: 0.9;
    display: inline-block;
} 
   
.menu {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.spring {
    flex-grow: 10;
}

main {
    position: relative;
    top: 69px;
    margin:0;
}

.nav-item {
    opacity: 0.9;
    text-decoration: underline;
    display: inline-block;
}

.jumbotron {
    width: 1200px;
    height: 700px;
    background-image: url("./img/img-mission-background.jpg");
    /* background-position: center; */
    background-size: cover;
    /* background-repeat: no-repeat; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* display: inline-block; */
    /* border: yellow solid 2px; */
}

h2, h3, h4, h5, .location p {
    opacity: 0.9;
    color: seashell;
    text-transform: capitalize;
    background-color: black;
    text-align: center;
} 

#tea-of-the-month {
    width:1000px;
    margin: 0 auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.card img {
    display: inline-block;
    width: 300px;
    height: 200px;
}

.card h4 {
    margin-top:10px;
}
.img-center {
    margin-left: 50px;
    margin-right: 50px;
}

.black {
    background-color: black;
}

#location-container {
    height:500px;
    /* width:1200px; */
    background-image: url("./img/img-locations-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#location-container h2 {
    margin-bottom: 15px;
    background-color: transparent;
}

.location-row {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.location {
    background-color: black;
    margin-right: 40px;
    width: 300px;
}

footer h5 {
    text-align: left;
    margin-left: 20px;
}

#email {
    text-transform: none;
}

#contact {
    height: 200px;
    display: block;
}